<template name="taskItem">
  <tr class="tr-{{status}}" ondblclick="Router.go('{{pathFor 'editTask'}}');">
    <td class="mdl-data-table__cell--non-numeric">
      <button id="action-menu-{{_id}}" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">more_vert</i>
      </button>
      <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="action-menu-{{_id}}">
        {{#if enquiryId}}
        <li class="mdl-menu__item" onclick="Meteor.call('editTaskDone', '{{_id}}', true);location.href='/new_task/{{enquiryId}}';">Done and create new</li>
        {{else}}
        <li class="mdl-menu__item" onclick="Meteor.call('editTaskDone', '{{_id}}', true);">Done</li>
        {{/if}}
        <li class="mdl-menu__item" onclick="Router.go('{{pathFor 'editTask'}}');">修改</li>
        <li class="mdl-menu__item" onclick="Meteor.call('deleteTask', '{{_id}}');">刪除</li>
      </ul>
    </td>
    <td class="mdl-data-table__cell--non-numeric">{{formatDate date}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{owner}}</td>
    <td class="mdl-data-table__cell--non-numeric long-content">{{title}}</td>
    <td class="mdl-data-table__cell--non-numeric">{{enquiryNum}}</td>
    <td class="mdl-data-table__cell--non-numeric long-content">
      {{#if enquiryId}}
      <span id="enquiry-details-{{_id}}"><b>[{{companyName}}]</b> {{description}}</span>
      <div class="mdl-tooltip" for="enquiry-details-{{_id}}">
        {{companyName}}<br />
        {{description}}<br />
        {{contactPerson}}<br />
        {{tels}}
      </div>
      {{/if}}
    </td>
    <td class="mdl-data-table__cell--non-numeric">{{remarks}}</td>
  </tr>
</template>