<template name="editCashFlow">
  {{#contentFor "title"}}修改供應商{{/contentFor}}
  <form action="#">
    <div class="mdl-card mdl-shadow--4dp form-card-width-768px">
      <div class="mdl-card__title mdl-card--expand">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="date" name="date" value="{{formatDate date}}" />
              <label class="mdl-textfield__label" for="date">Date...</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="sales" name="sales" value="{{sales}}" />
              <label class="mdl-textfield__label" for="sales">Sales...</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="title" name="title" value="{{title}}" />
              <label class="mdl-textfield__label" for="title">Title...</label>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="number" min="0" step="any" id="amount" name="amount" value="{{amount}}" />
              <label class="mdl-textfield__label" for="amount">Amount...</label>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <input type="hidden" id="_id" name="_id" value="{{_id}}" />
        <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" value="確定" />
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onclick="Router.go('cashFlows');return false;">取消</button>
      </div>
    </div>
  </form>
</template>